.touch{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.box1,.box2,.box3{
  background-color: bisque;
}
.box1,.box2 a{
  text-decoration: none;
}
.email,i ,.phone {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.phone a{
  color: peru;
  
}
.email a {
  color: peru;

}

.mypic{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.myImg{
  margin-left: 20px;
}
.box1,.box2,.box3{
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}